[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/wooseok-song/diff-gaussian-rasterization
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/YixunLiang/simple-knn.git
